@import url('https://fonts.googleapis.com/css2?family=Anton&family=Mulish:wght@300&display=swap');
html {
    font-size: 16px;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#logo {
    place-self: center;
}

#name {
    place-self: center;
    font-family: anton;
    font-size: 3rem;
    color: #FFDD19;
}

#tagline {
    place-self: center;
}

body {
    background-color:#EDF3F3;
    font-family:'mulish', sans-serif;
    line-height: 1.5;
    color:#0D73FF;
    max-width: 70.2543rem;
    margin: 5rem auto;
}

nav {
    display: flex; 
    align-items: center;
    justify-content: space-between;
}

nav a {
    margin: 0 0 0 2em; 
}

nav :hover {
    text-decoration: none;
    color:#FF14AE;
}

h1,
nav,
footer  {
    color:black;
    font-family: anton;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

h2 {
    font-family: Mulish;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

section {
    margin: 4rem auto;
    display: grid;
    grid-column-gap: 1.5rem;
}

#project {
   place-self: center;
}

#project :hover {
    opacity: .7;
}

#title {
    place-self: center;
}

#project1 {
    place-self: center;
}

#project1:hover{
    opacity: .7;
}

#title1 {
    place-self: center;
}

#project2 {
    place-self: center;
}

#project2:hover {
    opacity: .7;
}

#title2 {
    place-self: center;
}

#project3 {
    place-self: center;
}

#project3:hover {
    opacity: .7;
}

#title3 {
    place-self: center;
}

#project4 {
    place-self: center;
}

#project4:hover {
    opacity: .7;
}

#title4 {
    place-self: center;
}

img {
    float: left;
    margin-right: 20px;
    margin-top: 30px;
}

.text-container {
    margin-top: 70px;
    margin-left: 20px;
}
#me {
   display: flex; 
   align-self: left;
}

#bio {
    grid-column: 19/24;
}

#contact {
   text-align: center;
   font-size: 24px;
}

input, textarea {
    width: 100%;
    background-color: #FF14AE;
    border: 2px solid #0D73FF;
    color: #EDF3F3;
    font-size: 16px;
}

#pic {
    place-self: center;
}

#pic1 {
    place-self: center;
}

#spread1 {
    place-self: center;
}

#spread2 {
    place-self: center;
}

#pic2 {
    place-self: center;
}

#pic3 {
    place-self: center;
}

#pic4 {
    place-self: center;
}

footer {
    display: flex; 
    align-items: center;
    justify-content:space-around;
}

footer a{
    margin: 0 0 0 2em; 
    color: #0D73FF;
}
